@import "src/assets/styles.scss";

table {
  width: 100%;
}

.user-label {
  font-size: 0.8em;
  padding-right: 10px;
}

.vertical-separator {
  padding: 8px 10px;
  border-left: 1px solid #000000;
  height: 500px;
}

.visible-cursor {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
