<mat-card style="width: 380px;">
  <mat-card-title>Rejestracja</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Imie" formControlName="firstNameFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nazwisko" formControlName="lastNameFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Login" formControlName="usernameFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Hasło" formControlName="passwordFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Powtórz hasło" formControlName="repeatPasswordFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="emailFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Telefon" formControlName="phoneFC">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Nazwa firmy" formControlName="companyNameFC">
        </mat-form-field>
      </p>


      <div class="button">
        <button type="submit" mat-button>Zarejestruj się</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
