<span *ngIf="!item.showOption">
  <button mat-button (click)="select()">{{item.name}}</button>
</span>
<span *ngIf="item.showOption">
  <button mat-button [mat-menu-trigger-for]="menu">{{item.name}}</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createNewFolder()">
      <mat-icon class="icon">create_new_folder</mat-icon>
      Nowy folder
    </button>

    <span class="uploadFilesWrapper">
      <button mat-menu-item>
        <mat-icon class="icon">cloud_upload</mat-icon>
        Importuj pliki
      </button>
      <input (change)="uploadFiles($event)" multiple type="file" />
    </span>
  </mat-menu>
</span>
