@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
  background-color: #faf3f5;
}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

$bg-success: #18c131;
$bg-warning: gold;
$bg-error: #a61a13;

.notification-success {
  background: $bg-success;
  text-align: center;
}

.notification-warning {
  background: $bg-warning;
  text-align: center;
  color:white;
}

.notification-error {
  background: $bg-error;
  text-align: center;
}
