.center {
  margin: 80px 0 0 0;
  justify-content: center;
}

.horizontal-size {
  min-height: 78%;
}

.button-location {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 40px 0;
}

.content {
  background-color: antiquewhite;
  margin: 0 0 15px 0;
}
